<div class="banner">
  <div class="container">
    <h1>Arted helps you find the perfect <strong>artwork</strong> from your <strong>local artist</strong>!</h1>
    <p>Discover our artists and their artworks or sell your own creations.</p>
    <a class="btn btn-flat" href="#">Start discovering</a>
  </div>
</div>
