<div class="banner">
  <div class="overlay">
    <h1>Arted helps you find the perfect <strong>artwork</strong> from your <strong>local artist</strong>!</h1>
    <p>Discover our artists and their artworks or sell your own creations.</p>
    <%= link_to "Start discovering", "#", class: "btn btn-ghost" %>
  </div>
</div>

<div class="card-trip">
  <div class="artist-infos">
    <div>
      <p>Artist name</p>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>
  <img src="artwork.jpg"/>
  <div class="card-trip-infos">
    <div>
      <h2>Title</h2>
      <p>materials</p>
      <p>likes</p>
      <h2 class="card-trip-pricing">€99.99</h2>
    </div>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</div>
