<div class="banner">
  <div class="overlay">
    <h1>Arted helps you find the perfect <strong>artwork</strong> from your <strong>local artist</strong>!</h1>
    <p>Discover our artists and their artworks or sell your own creations.</p>
    <%= link_to "Start discovering", artworks_path, class: "btn btn-ghost" %>
  </div>
</div>

<div class="card">
  <div class="artist-infos">
    <p>Artist name</p>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="avatar-user avatar-bordered" />
  </div>
  <%= image_tag "artwork.jpg", alt: "Artwork", width: 200 %>
  <div class="artwork">
    <div class="artwork-infos">
      <h2>Title</h2>
      <p>Materials</p>
      <p>Likes</p>
    </div>
    <h2 class="artwork-pricing">€99.99</h2>
  </div>
</div>
