.btn-arted {
  color: white;
  background-color: $spacegreen;
  border: 1px solid white;
  padding: 8px 24px;
  border-radius: 30px;
  font-weight: lighter;
  opacity: 0.8;
  text-decoration: none;
}

.btn-arted:hover {
  opacity: 1;
  background-color: $spacegreen;
  color: white;
  border: 1px solid white;
  padding: 8px 24px;
  border-radius: 30px;
  font-weight: lighter;
}

.btn-red {
  color: white;
  border: 1px solid white;
  padding: 8px 24px;
  border-radius: 30px;
  font-weight: lighter;
  background-color: $darkred;
  opacity: 0.8;
  text-decoration: none;
}

.btn-red:hover {
  opacity: 1;
  color: white;
  border: 1px solid white;
  padding: 8px 24px;
  border-radius: 30px;
  font-weight: lighter;
  background-color: $darkred;
}

.delete {
  color: white;
  background-color: $darkred;
  padding: 10px;
  text-decoration: none;
}

.delete:hover {
  text-decoration: none;
  color: white;
}
