.card {
  height: 50vh;
  width: 100%;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card .general {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.artist-infos .avatar-user {
  position: absolute;
  right: 16px;
  top: 6px;
  width: 40px;
}

.card .artist-infos {
  padding: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.card-category {
  background-repeat: no-repeat;
  background-size: cover;
}
